{% extends 'base.html.twig' %}

{% block title %}Product Feed Processor{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}
    Hey SensioLabs.
{% endblock %}

{% block javascripts %}
{% endblock %}
